body {
    color: white;
    background-color: darkgrey;
    min-height: 100vh;
}


.social-menu {
    list-style-type: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 10%;
    left: calc(100% - 100px);
    transition: 1s;
    transition-property: transform;
}

.social-menu li {
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    width: 300px;
    text-align: left;
}

.social-menu li:hover {
    transform: translate(-250px, 0);
    transition: 800ms ease-in-out;
}

i {
    padding: 5px;
    text-align: center;
    font-size: 25px;
}

a {
    color: white;
    padding: 10px;
}

.blog {
    background-color: #e17b77;
}

.twitter {
    background-color: #00aced;
}

.linkedin {
    background-color: #007bb6;
}

.facebook {
    background-color: #3b5998;
}

.github {
    background-color: #333;
}